/** CSS HEADER / FOOTER */
/** 
HEADER
*/
.header{
    margin-top: 1em;
    &-logo{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title{
            color: $color_primary_one;
            @media only screen and (max-width: 1100px){
                font-size: 2rem;
            }
        }
    }
}



